
<nav class="navbar fixed-top navbar-expand-lg ">
  <%= link_to "Cocktails", cocktails_path, class: "btn btn-outline-secondary ml-3" %>
  <!-- <a class="navbar-brand">Cocktail</a> -->
  <form class="form-inline">

    <%= link_to "Add new coktail", new_cocktail_path, class: "btn btn-outline-secondary ml-3"%>
  </form>

</nav>


