
<div class="container">
  <div class="row  m-5">
    <div class="col-4 offset-4">
      <%= simple_form_for @cocktail do |f|%>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, "Add a cocktail", class: "btn btn-outline-primary"  %>
      <% end %>
    </div>
  </div>
</div>
